form(action="/", method="POST")
    .form-group
        label(for="title") Table Title
        if form_value
            input.form-control(autofocus, name="title", placeholder="My Table", type="text", value=form_value.title)
        else
            input.form-control(autofocus, name="title", placeholder="My Table", type="text")

    .form-group
        label(for="results") Match Results (enter results in format <code>name X - Y name</code> one per line)
        if form_value
            textarea.form-control(rows=form_value.results.length / 2, name="results")
                each item, i in form_value.results
                    if i+1 != form_value.results.length
                        | #{ item }&#10;
                    else
                        | #{ item }
        else
            textarea.form-control(rows="12", name="results")
                include textareaPlacehold

    .form-group
        label(for="zones") Promotion and relegation zone spots (optional)
        if form_value
            input.form-control.input-sm(value=form_value.zones, type="number", name="zones")
        else
            input.form-control.input-sm(value="0", type="number", name="zones")

    .form-group
        button.btn.btn-primary.ladda-button(data-style="zoom-out", type="submit")
            if form_value
                span.ladda-label Update
            else
                span.ladda-label Submit
