ul.list-inline
    li
        strong Share This #{url}
    li
        a.btn.btn-sm.btn-primary.btn-twitter(href="https://twitter.com/share?url=#{url}&text=#{title}", target="_blank") Twitter
    li
        a.btn.btn-sm.btn-primary.btn-facebook(href="https://www.facebook.com/sharer.php?u=#{url}", target="_blank") Facebook
    li
        a.btn.btn-sm.btn-primary.btn-reddit(href="https://www.reddit.com/submit?url=#{url}&title=#{title}", target="_blank") Reddit
