extends layout

block content-left
    h1 Table: #{ data.title }
    p.lead #{ moment(created_at).format('dddd, MMMM Do YYYY') }

    include partials/share

    p <a href="/">Create a new table</a>

block content-right
    .table-responsive
        table.table.table-hover
            thead
                tr
                    th #
                    th Team
                    th GP
                    th W
                    th D
                    th L
                    th GF
                    th GA
                    th GD
                    th PTS
            tbody
                - var i = 1
                each item in data.table
                    if item.zone == 'promotion'
                        tr(class="success")
                            th= i++
                            td= item.name
                            td= item.played
                            td= item.wins
                            td= item.draws
                            td= item.losses
                            td= item.for
                            td= item.against
                            td= item.diff
                            td= item.points
                    else if item.zone == 'relegation'
                        tr(class="danger")
                            th= i++
                            td= item.name
                            td= item.played
                            td= item.wins
                            td= item.draws
                            td= item.losses
                            td= item.for
                            td= item.against
                            td= item.diff
                            td= item.points
                    else
                        tr
                            th= i++
                            td= item.name
                            td= item.played
                            td= item.wins
                            td= item.draws
                            td= item.losses
                            td= item.for
                            td= item.against
                            td= item.diff
                            td= item.points

        div
            p
                strong Input
            ul.list-unstyled
                each item in data.input
                    li= item
